@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

/* Todo: responsywność contentów */
/* Website's content */

.postac_text {
    position: relative;
    color: #000;
    font-size: 20px;
    letter-spacing: 2px;
    right: 15%;
    left: 15%;
    max-width: 70%;
    padding: 30px 50px;
    background: #fff;
    border-radius: 25px;
    text-align: justify;
    font-weight: 500;
    margin-top: 50px;
}

span.lightshadow {
    transition: .6s;
}

/* Todo: add it to html */
.zyciorys_content:hover span.lightshadow {
    color: #a8a846;
    /* text-shadow: 0 0 1px #e4e458; */
}

.tworczosc_content .tworczosc_main {
    position: relative;
    color: #fff;
    font-size: 50px;
    margin-left: 10%;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.tworczosc_content .tworczosc_box h2 {
    position: relative;
    color: #fff;
    font-size: 45px;
    margin-left: 15%;
    letter-spacing: 2px;
}

.tworczosc_content .tworczosc_box h2::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    background: #fff;
    left: -15px;
}

.tworczosc_box {
    color: #000;
    position: relative;
    width: 70%;
    left: 15%;
}

.tworczosc_box p {
    margin-bottom: 70px;
    letter-spacing: 2px;
    font-size: 20px;
    background: #fff;
    padding: 30px 50px;
    border-radius: 25px;
}

@media only screen and (max-width: 800px) {
    .postac_text,
    .zyciorys_cudzyslow,
    .tworczosc_box p {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .zyciorys_text {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 600px) {
    .postac_text {
        left: 5%;
        right: 5%;
        max-width: 90%;
    }

    .tworczosc_box {
        left: 5%;
        width: 90%;
    }

    .postac_text,
    .zyciorys_text,
    .zyciorys_cudzyslow {
        padding: 30px 30px;
    }
}

.utwory_content iframe {
    position: relative;
    left: 10%;
}

.postac_content video {
    width: 500px;
    margin-left: calc(50% - 250px);
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #ccc;
    animation: videoAnim 5s linear infinite;
}

.postac_content img {
    display: none;
}

@keyframes videoAnim {
    0% {
        /* border-radius: 50%; */
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #ccc;
    }

    25% {
        /* border-radius: 48%; */
        box-shadow: 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 60px #ccc;
    }

    30% {
        /* border-radius: 48%; */
        box-shadow: 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 60px #ccc;
    }

    50% {
        /* border-radius: 50%; */
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 35px #ccc;
    }

    55% {
        /* border-radius: 50%; */
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 35px #ccc;
    }

    75% {
        /* border-radius: 48%; */
        box-shadow: 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff, 0 0 70px #ccc;
    }

    80% {
        /* border-radius: 48%; */
        box-shadow: 0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 45px #fff, 0 0 50px #fff, 0 0 70px #ccc;
    }

    95% {
        /* border-radius: 50%; */
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #ccc;
    }

    100% {
        /* border-radius: 50%; */
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #ccc;
    }
}

@media only screen and (max-width: 700px) {
    .postac_content video {
        display: none;
    }

    .postac_content img {
        display: block;
        width: 50%;
        margin-left: 25%;
        border: 8px solid #fff;
        border-radius: 30px;
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 40px #ccc;
    }
}

@media only screen and (max-width: 1100px) {
    .postac_content video {
        animation: none;
    }
}

.zyciorys_content {
    position: relative;
    transition: .5s;
}

.zyciorys_text {
    position: relative;
    left: 0;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
    padding: 30px 50px;
    text-align: justify;
    font-weight: 500;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 200px;
    width: 55%;
}

.zyciorys_text.left {
    left: 5%;
}

.zyciorys_text.right {
    left: 40%;
}

.zyciorys_cudzyslow {
    position: relative;
    left: 0;
    font-size: 23px;
    letter-spacing: 2px;
    color: #000;
    padding: 30px 50px;
    text-align: justify;
    font-weight: 500;
    border-left: 10px solid #ccc;
    background: #fff;
    padding-bottom: 40px;
    background: #fff;
    border-radius: 25px;
    margin-bottom: 50px;
    width: 90%;
    left: 5%;
}

.zyciorys_cudzyslow span {
    font-family: 'Roboto Mono', 'Poppins', sans-serif, Arial;
    font-size: 100px;
    color: #000;
}

.zyciorys_box1 {
    position: relative;
    margin-bottom: 50px;
    height: 400px;
}

.zyciorys_box1 .zyciorys_text {
    position: absolute;
    left: 5%;
    height: 100%;
}

.zyciorys_box1 img {
    position: absolute;
    height: 100%;
    right: 5%;
    border-radius: 25px;
}

@media only screen and (max-width: 1700px) and (min-width: 1386px) {
    .zyciorys_box1 {
        height: 500px;
    }
}

.zyciorys_box2 {
    display: none;
}

.zyciorys_box2 .zyciorys_text {
    width: 90%;
    margin-bottom: 50px;
    margin-left: 5%;
}

.zyciorys_box2 img {
    position: relative;
    width: 40%;
    left: 30%;
    margin-bottom: 50px;
    border-radius: 25px;
}

@media only screen and (max-width: 1385px) {
    .zyciorys_box1 {
        display: none;
    }

    .zyciorys_box2 {
        display: block;
    }
}

.zyciorys_box3 {
    display: flex;
    justify-content: space-between;
}

.zyciorys_box3 .zyciorys_text {
    position: static;
    margin-bottom: 50px;
}

.zyciorys_box3 .zyciorys_text:first-child {
    margin-left: 5%;
    margin-right: 25px;
}

.zyciorys_box3 .zyciorys_text:last-child {
    margin-right: 5%;
    margin-left: 25px;
}

@media only screen and (max-width: 1000px) {
    .zyciorys_box3 {
        display: block;
    }
    
    .zyciorys_box3 .zyciorys_text {
        width: 90%;
    }

    .zyciorys_box3 .zyciorys_text:first-child,
    .zyciorys_box3 .zyciorys_text:last-child {
        margin-left: 5%;
        margin-right: 0;
    }
}

.zyciorys_box4 {
    display: flex;
    justify-content: space-between;
}

.zyciorys_box4 .zyciorys_text {
    position: static;
    margin-left: 5%;
    margin-bottom: 50px;
}

.zyciorys_box4 ion-icon {
    color: #fff;
    font-size: 290px;
    margin-right: 15.5%;
}

@media only screen and (max-width: 1500px) {
    .zyciorys_box4 ion-icon {
        margin-right: 14%;
    }
}

@media only screen and (max-width: 1300px) {
    .zyciorys_box4 ion-icon {
        display: none;
    }

    .zyciorys_box4 {
        display: block;
    }

    .zyciorys_box4 .zyciorys_text {
        width: 90%;
    }
}

.palac_prezydencki {
    margin-left: 5%;
    width: 90%;
    border-radius: 25px;
    margin-bottom: 50px;
}

.zyciorys_text.sth1 {
    position: relative;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .zyciorys_text {
        padding: 20px 30px;
        font-size: 1em;
    }
}