.language_btn {
    background: #fff;
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 10000;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 12px;
    transition: .5s;
    border-radius: 50%;
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

.language_btn:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}