/* Imported from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Arial;
}

:root {
    --height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    min-height: 200vh;
}

header {
    position: fixed;
    background: linear-gradient(to bottom, #000, #000000b4);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    padding: 40px 100px;
    z-index: 100000;
    box-shadow: 0 0 50px #000000b4, 0 0 50px #000000b4, 0 0 50px #000000b4;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 2px solid #000;
    box-shadow: none;
}

header.sticky .main_text,
header.sticky ul li a {
    color: #000;
}

header .main_text {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style-type: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
}

header ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transition: 0.5s;
}

header.sticky ul li a::after {
    background: #000;
}

header ul li a:hover:after {
    left: -2%;
    width: 102%
}

.main_background {
    height: var(--height);
    overflow: hidden;
}

.main_background p {
    position: relative;
    text-align: justify;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(../assets/img/chopinbackground.jpg), url(../assets/img/chopinbackground.jpg);
    background-blend-mode: color-dodge;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: none;
    /* background-clip: border-box; */
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.srodkowy_tekst {
    position: absolute;
    margin: 0 auto;
    top: 35vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    z-index: 10000;
    text-align: center;
}

.srodkowy_tekst p:first-child {
    background-color: #000000c0;
    color: #fff;
    font-size: 70px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.srodkowy_tekst p:last-child {
    background-color: #000000c0;
    color: #fff;
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.shadow_effect {
    position: absolute;
    background: linear-gradient(to top, #000, #00000000);
    top: calc(var(--height) - 20vh);
    width: 100%;
    height: 20vh;
    z-index: 1000;
}

.spis_tresci h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 700;
}

.spis_tresci .spis_box {
    position: relative;
    margin-top: 30px;
    left: 30%;
    width: 40%;
    height: 450px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.spis_tresci .spis_box ol {
    padding-top: 105px;
}

.spis_tresci .spis_box ol li {
    margin-bottom: 15px;
    color: #000;
    list-style-type: none;
    font-weight: 600;
    text-align: center;
}

.spis_tresci .spis_box ol li a {
    position: relative;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}

.spis_tresci .spis_box ol li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.spis_tresci .spis_box ol li a:hover:after {
    width: 100%;
}

.spis_tresci .spis_box ion-icon:nth-child(1),
.spis_tresci .spis_box ion-icon:nth-child(3) {
    color: #000;
    font-size: 140px;
    margin-top: 140px;
}

h2.temat {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-left: 130px;
    color: #fff;
    font-size: 60px;
    letter-spacing: 2px;
}

h2.temat span:first-child {
    font-size: 90px;
}

h2.temat::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 4px;
    height: 130px;
    left: 110px;
    bottom: 0;
    transition: 0.2s;
}

h2.temat:hover:before {
    bottom: 10px;
    height: 120px;
}

h2.temat::after {
    content: "";
    position: absolute;
    background: #fff;
    height: 4px;
    width: 80%;
    left: 100px;
    bottom: 10px;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}

h2.temat:hover:after {
    left: 0;
    width: 100%;
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: none;
    transition: all .5s ease-in-out;
    background: rgba(0, 0, 0, 0.651);
    border: 3px solid #fff;
    z-index: 100002;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    min-width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open {
    border-color: #000;
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: #000;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: #000;
}

header.sticky .menu-btn {
    border-color: #000;
    background: none;
}

header.sticky .menu-btn.open {
    background: rgba(0, 0, 0, 0.651);
}

header.sticky .menu-btn .menu-btn__burger,
header.sticky .menu-btn .menu-btn__burger::before,
header.sticky .menu-btn .menu-btn__burger::after {
    background: #000;
}

header.sticky .menu-btn.open .menu-btn__burger {
    background: none;
}

.menu {
    transition: all .5s ease-in-out;
}

.menu.active {
    transform: translateX(0);
}

.blockScroll {
    overflow-y: auto;
}

footer {
    background: #fff;
    width: 80%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

footer p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 85px;
}

footer a {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
    left: calc(50% - 80px);
}

footer a:hover {
    text-decoration: underline;
    transition: .3s;
}

@media only screen and (max-width: 1345px) {
    .test001{
        font-size: 50px;
    }

    .menu.active {
        transform: translateX(100%);
    }

    .blockScroll {
        overflow-y: hidden;
    }

    .menu-btn {
        display: flex;
    }

    header {
        padding: 20px 15px;
    }

    header.sticky {
        padding: 5px 15px;
    }

    header ul li a::after {
        display: none;
    }

    header ul {
        position: absolute;
        display: block;
        z-index: 100001;
        background: #fff;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }

    header ul li {
        position: relative;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    header ul li a:hover {
        background-color: rgba(0, 0, 0, 0.329);
    }

    header ul li:last-child {
        margin-bottom: 150px;
    }

    header ul li a {
        color: #000;
        font-size: 45px;
        border-radius: 10px;
        padding: 1px 12px;
    }

    .spis_tresci {
        display: none;
    }

    h2.temat {
        padding: 50px;
        font-size: 45px;
    }

    h2.temat span:first-child {
        font-size: 90px;
    }

    h2.temat::before {
        left: 40px;
        height: 220px;
        bottom: 15px;
    }

    h2.temat:hover:before {
        left: 40px;
        height: 220px;
        bottom: 15px;
    }

    h2.temat::after {
        left: 0;
        width: 100%;
        bottom: 50px;
    }

    header .main_text {
        font-size: 1.7em;
    }

    .menu-btn.open {
        transform: translateX(-15px);
    }

    header.sticky .menu-btn.open {
        transform: translateX(-20px);
    }

    .srodkowy_tekst {
        top: 30vh;
    }
}

@media only screen and (max-width: 840px) {
    .menu-btn {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.backtotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10000;
    width: 0;
    height: 0;
    /* background: #fff; */
    border-radius: 50%;
    transition: .5s;
    opacity: 0;
    cursor: default;
}

.backtotop ion-icon {
    color: #000;
    z-index: 1000001;
    font-size: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    transition: .5s;
    animation: shortAnim 5s linear infinite;
}

.backtotop:hover ion-icon {
    transform: rotate(-360deg);
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

@keyframes shortAnim {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }

    5% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }

    25% {
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    }
    
    30% {
        box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    }

    50% {
        box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff;
    }

    55% {
        box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff;
    }

    75% {
        box-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
    }

    80% {
        box-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
    }

    100% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
}

.backtotop.active {
    opacity: 1;
    cursor: pointer;
    width: 60px;
    height: 60px;
    transform: rotate(-360deg);
}

.backtotop.active ion-icon {
    font-size: 60px;
}

.language_btn {
    background: #fff;
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 10000;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 11px;
    transition: .5s;
    border-radius: 50%;
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff;
}

.language_btn:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

.language_btn:active {
    box-shadow: 0 0 7px #7cfbff, 0 0 12px #7cfbff, 0 0 17px #7cfbff;
    background: #7cfbff;
}